.hireusbtn{
    padding: 7px 40px;
    border-radius: 5px;
}
.headerimage{
    width: 90%;
}
.headertext{
    font-size: 30px;
}
.headermaintxt{
    font-size: 50px;
}
.companylogos{
    width: 10px;
}